<!DOCTYPE html>
<html>
<head>
	<title>Golf Instruction with David Saunders</title>
	
	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>


	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaQNkhjQ_qKtXlqSvAO2Mottj-5ga9qmQ">
	</script>
	<script>
	$(function () {
		$('#Google').tooltip();
	});
	</script>
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.js"></script> <!-- 16 KB -->

</head>
<body>
	<div id="outside_container"><a href="/"><img src="/images/head18nonav.jpg" class="img-responsive"></a></div>
	<nav class="nav navbar navbar-default">
		<div class="container-fluid">
			
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><%= link_to "Home",   '/' %></li>
					<li><%= link_to "Meet the Pro",   '/home/meet' %></li>
					<li><%= link_to "Lessons",   '/home/lessons' %></li>
					<li><%= link_to "Golf Tips",   '/home/tips' %></li>
					<li><%= link_to "Contact",   '/home/contact' %></li>
				</ul>
				

			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</div>



<%= yield %>
<footer>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<p align="center">Golf Instruction with David Saunders</br>Gaithersburg, MD</br>Phone: 240.461.7563</br>Email: DSaunders@pga.com</p>
		</div>
		<div class="col-md-4" align="center">
			<p align="right"><a href="http://www.facebook.com/?ref=logo#!/pages/Springfield-VA/Golf-Instruction-with-David-Saunders/111882338864704?ref=ts" target="_blank"><img src="/images/1426372089_social_facebook_box_white.png" alt="facebook" border="0" height="40" width="40" /></a></p>
			<p align="right"><a href="https://twitter.com/dsaunderspga" target="_blank"><img src="/images/1426372035_social_twitter_box_white.png" alt="facebook" border="0" height="40" width="40" /></a></p>
		</div>
	</div>
</footer>
</body>
</html>

